.select2-selection--multiple {
  border: none;
  border-bottom: 1px solid rgba(0,0,0,.12);
  display: block;
  font-size: 16px;
  font-family: "Helvetica","Arial",sans-serif;
  margin: 0;
  padding: 4px 0;
  width: 100%;
  background: 0 0;
  text-align: left;
  color: inherit;

  .select2-selection__rendered {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    list-style: none;
    margin: 0;
    padding: 0 5px 0 0;
    width: 100%;
  }

  .select2-selection__clear {
    cursor: pointer;
    float: right;
    font-weight: bold;
    margin-top: 5px;
    margin-right: 10px;
  }
}

.select2-search--inline {
  float: left;

  .select2-search__field {
    -webkit-appearance: textfield;
    box-sizing: border-box;
    border: none;
    font-size: 100%;
    margin-top: 5px;

    &::-webkit-search-cancel-button {
      -webkit-appearance: none;
    }
  }
}

&.select2-container--disabled {
  .select2-selection--multiple {
    background-color: #eee;
    cursor: default;
  }

  .select2-selection__choice__remove {
    display: none;
  }
}
