extends _layout-admin.pug
include _user-list.pug

block vars
  - var pageTitle = __('layout.users.list')

block content
  .page-content
    if !data.users.length
      h4.home-subtitle=__('admin.users.no-user')
    else
      +user-list().mdl-shadow--2dp

