extends _layout-admin.pug
include _user-list.pug

block vars
  - var pageTitle = 'user list'

block content
  .page-content
    if !data.users.length
      h4.home-subtitle no user yet
    else
      +user-list().mdl-shadow--2dp

