:root {
  --default-color-primary: rgb(63,81,181);
  --default-color-primary-contrast: #FFF;
  --default-color-accent: rgb(255,64,129);
  --default-color-accent-contrast: #FFF;
}

@import "../../node_modules/material-design-lite/dist/material.orange-blue.min.css";
@import "../../node_modules/dialog-polyfill/dialog-polyfill.css";

$c-primary          = var(--color-primary, var(--default-color-primary));
$c-primary-contrast = var(--color-primary-contrast, var(--default-color-primary-contrast));
$c-accent           = var(--color-accent, var(--default-color-accent));
$c-accent-contrast  = var(--color-accent-contrast, var(--default-color-accent-contrast));

$c-grey-50    = rgb(250, 250, 250);
$c-grey-100   = rgb(245, 245, 245);
$c-grey-200   = rgb(238, 238, 238);
$c-grey-300   = rgb(224, 224, 224);
$c-grey-400   = rgb(189, 189, 189);
$c-grey-500   = rgb(158, 158, 158);
$c-grey-600   = rgb(117, 117, 117);
$c-grey-700   = rgb(97, 97, 97);
$c-grey-800   = rgb(66, 66, 66);
$c-grey-900   = rgb(33, 33, 33);

panel-shadow() {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2);
}

hidden() {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
}

material-icon() {
  font-family: 'Material Icons';
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  word-wrap: normal;
  font-feature-settings: 'liga';
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

togglable($height = auto) {
  visibility: hidden;
  height: 0;

  &.is-visible {
    visibility: visible;
    height: $height;
  }
}

@import "./select2";
@import "./date-picker";

// fix left column not expanding to bottom when content > viewport
.mdl-layout {
  height: auto;
  min-height: 100%;
}

// simplified checkbox in tables
.bsCheckbox {
  width: 1px;

  input {
    hidden();
  }
  label {
    display: inline-block;
    cursor: pointer;
  }
  label::after {
    material-icon();
    // couldn't find another way to center them vertically :(
    transform: translate(0, 3px);
    content: 'check_box_outline_blank';
    color: $c-grey-700;
  }
  input:checked + label::after {
    content: 'check_box';
    color: $c-accent;
  }
}

////////
// HOME
////////

.template-card {
  text-decoration: none;
  transition: box-shadow .2s;

  &:hover {
    box-shadow: 0 0 0 3px rgb(68,138,255);
  }

  .mdl-card__title {
    justify-content: center;
  }
  .mdl-card__supporting-text {
    text-align: center;
  }
  .mdl-card__media {
    height: 250px;
    overflow-y: auto;
    img {
      width: 100%;
      height: auto;
      display: block;
    }
  }
}

.home-subtitle {
  text-align: center;
}

// user menu underline
.mailing-list .navigation--mailings,
.user-template .navigation--templates  {
  box-shadow: inset 0 -3px 0 0 $c-accent;
}

////////
// SECTIONS
////////

.content {
  padding-top: 10px;
  padding-bottom: 2em;
  flex: 1 0 auto;

  h3 {
    margin-top: 0;
    text-transform: uppercase;
  }
}

.description {
  padding-bottom: 5px;
}

////////
// MATERIAL OVERRIDES
////////

.mdl-layout__header,
.mdl-layout__header-row .mdl-navigation__link,
.mdl-layout__header .mdl-layout__drawer-button {
  color: $c-accent-contrast;
}

.mdl-list__item-primary-content button {
  font-size: inherit;
  background: none;
  border: 0;
  padding: 0;
  color: $c-accent;
  font-weight: 500;
}

.page-content {
  margin: 0 auto;
  max-width: 1280px;
  padding-top: 2em;
}
.full-width-layout .page-content,
.template-new-edit .page-content {
  max-width: none;
  padding-top: 0;
}
.full-width-layout .page-content > .mdl-grid,
.template-new-edit .page-content > .mdl-grid {
  min-height: calc(100vh - 64px)
}
.mdl-data-table {
  width: 100%;
}
.mdl-textfield {
  width: auto;
}
.mdl-button--fab {
  position: fixed;
  bottom: .5em;
  right: .5em;
  z-index: 10;
}

.mdl-card .mdl-data-table {
  border-left: 0;
  border-right: 0;
}
.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.center-content .mdl-card {
  width: 400px;
}
.mdl-textfield {
  display: block;
}
select.mdl-textfield__input {
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
  background: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24' height='24' viewBox='0 0 24 24'><path fill='#444' d='M7.406 7.828l4.594 4.594 4.594-4.594 1.406 1.406-6 6-6-6z'></path></svg>");
  background-position: 100% 50%;
  background-repeat: no-repeat;
  // border-radius: 0;
}
.mdl-textfield__label--fixed {
  color: $c-primary;
  font-size: 12px;
  top: 4px;
  visibility: visible;
}
.mdl-card {
  min-height: 0;
}
details {
  pre {
    font-size: 11px;
    overflow-x: auto;
  }

  ul,
  ol {
    columns: 300px 2;
    list-style: none;
    counter-reset: nombre;
  }
  li {
    counter-increment: nombre;
    &::before {
      content: counter(nombre) ' -';
      color: #ccc;
      width: 2em;
      display: inline-block;
      text-align: right;
      padding-right: .5em;
    }
  }
}
.lang {
  position: absolute;
  top: .25em;
  right: .5em;
}
.lang a {
  color: #000;
  text-decoration: none;
}
.message {
  margin: 0;
}
.message.error {
  color: #d50000;
}
.message dd {
  margin: 0;
}
.message dt {
  margin: 0;
}

.mdl-layout__content.mdl-grid {
  width: 100%;
}

.mdl-dialog {
  width: 75%;
  max-width: 400px;
}
.mdl-dialog__title {
  font-size: 2rem;
}
.mdl-data-table__cell--action.mdl-data-table__cell--action {
  text-align: center;
  width: 1%;
  white-space: nowrap;
}

.material-icons.is-invalid {
  color: #d50000;
}

@import './table';
